/.vs
/Frameworks/Repository.Pattern/bin
/Frameworks/Repository.Pattern/obj
/BTS.SP.STC/bin
/BTS.SP.API.PHB/bin
/BTS.SP.API.PHB/obj
/BTS.SP.PHB.SERVICE/bin
/BTS.SP.PHB.SERVICE/obj
/Authorize/BTS.SP.AUTHENTICATION.API/bin
/Authorize/BTS.SP.AUTHENTICATION.API/obj
/BTS.SP.API.ENTITY/obj
/BTS.SP.API.PHB/Template
/BTS.SP.API.PHB/TemplateBCTC
/BTS.SP.API.PHB/TemplatePBDT
/Frameworks/BTS.SP.TOOLS/bin
/Frameworks/BTS.SP.TOOLS/obj
/Frameworks/Repository.Pattern.Ef6/bin
/Frameworks/Repository.Pattern.Ef6/obj
/packages
/BTS.SP.STC/obj
/Frameworks/Service.Pattern/bin
/Frameworks/Service.Pattern/obj
/BTS.SP.PHB.ENTITY/bin
/BTS.SP.PHB.ENTITY/obj
/BTS.SP.API.ENTITY/bin
