<!-- <div class="container-fluid" > -->
<!-- <div class="row"> -->
<!-- <div class="containerid"> -->
<!-- <div class="carousel"> -->
<!-- <div class="item a" style="font-size:30px;"  ui-sref="dashboard_pha"> -->
<!-- <div style="width:559px;height: 440px;" > -->
<!-- <img src="/_layouts/15/BTS.SP.KPI/styles/imgs/KPI.jpg" style="width:100%"/> -->
<!-- </div>										 -->
<!-- </div> -->
<!-- <div class="item b" ng-click="login('A')"></div> -->
<!-- <div class="item c" ng-click="login('B')"></div> -->
<!-- <div class="item d">D</div> -->
<!-- <div class="item e">E</div> -->
<!-- <div class="item f">F</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="row"> -->
<!-- <div class="next">Next</div> -->
<!-- <div class="prev">Prev</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <script> -->
<!-- var carousel = $(".carousel"), -->
<!-- currdeg = 0; -->
<!-- $(".next").on("click", { d: "n" }, rotate); -->
<!-- $(".prev").on("click", { d: "p" }, rotate); -->
<!-- function rotate(e) { -->
<!-- if (e.data.d == "n") { -->
<!-- currdeg = currdeg - 60; -->
<!-- if (currdeg != 0 && currdeg != 60) { -->
<!-- } -->
<!-- } -->
<!-- if (e.data.d == "p") { -->
<!-- currdeg = currdeg + 60; -->
<!-- } -->
<!-- carousel.css({ -->
<!-- "-webkit-transform": "rotateY(" + currdeg + "deg)", -->
<!-- "-moz-transform": "rotateY(" + currdeg + "deg)", -->
<!-- "-o-transform": "rotateY(" + currdeg + "deg)", -->
<!-- "transform": "rotateY(" + currdeg + "deg)" -->
<!-- }); -->
<!-- } -->
<!-- </script> -->

    <div class="container-fluid" style="height:1250px;background-color:#e8d7bf">
        <div class="row">
            <div style="padding-top:50px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box" style="background-image:url('/_layouts/15/bts.sp.kpi/styles/imgs/KPI.jpg'); " ui-sref="dashboard_pha"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="box" style="background-image:url('/_layouts/15/bts.sp.kpi/styles/imgs/PHA.jpg'); " ng-click="login('A')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box" style="background-image:url('/_layouts/15/bts.sp.kpi/styles/imgs/PHB.jpg'); " ng-click="login('B')">
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top:50px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box" style="background-image:url('/_layouts/15/bts.sp.kpi/styles/imgs/PHC.jpg');" ng-click="login('C')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box" style="background-image:url('/_layouts/15/bts.sp.kpi/styles/imgs/thanhtra.jpg'); " ng-click="login('E')">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box" style="background-image:url('/_layouts/15/bts.sp.kpi/styles/imgs/dautu.jpg'); " ng-click="login('F')">

                        </div>
                    </div>

                </div>
            </div>
            <div style="padding-top:50px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box" style="background-image:url('/_layouts/15/bts.sp.kpi/styles/imgs/PHT.jpg');" ng-click="login('T')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box" style="background-image:url('/_layouts/15/bts.sp.kpi/styles/imgs/PHD.jpg');" ng-click="login('D')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box" style="background-image:url('/_layouts/15/bts.sp.kpi/styles/imgs/PHG.jpg');" ng-click="login('G')">
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top:50px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box" style="background-image:url('/_layouts/15/bts.sp.kpi/styles/imgs/PH_CNTT.jpg');" ng-click="login('T')">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box" style="background-image:url('/_layouts/15/bts.sp.kpi/styles/imgs/PHD.jpg');" ng-click="login('D')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
.