<!--Navigation-->
<div class="container-fluid top-hd" style="height: 53px; background-color: #2196f3;margin-top: -10px;">
    <div class="container">
        <div class="container">
            <!--<img src="/_layouts/15/stc/imgs/logo.png" style="height: 40px; margin: 7px 10px 7px 0px; float: left;" />-->
            <span class="brand" style="float: left; line-height: 40px; margin-top: 7px; font-size: 18px; font-weight: bold; color: #ffffff;margin-left: 339px;">HỆ THỐNG BIỂU ĐỒ KPI</span>
        </div>
    </div>
</div>
<!--End Nav-->
<div ui-view="viewMain" id="page-wrapper"></div>
<div ui-view="viewFooter"></div>